<div class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container">

            <h1 class="display-3"> The Headlines</h1>
            <p class="lead">A task for Job Interview at PAM </p>
        </div>
    </div>
    
    <div class="container">
        <div class="row justify-content-between">
    
            <div class="jumbotron col-md-5 bg-primary">
                <h1 class="display-3 text-light">About Us</h1>
                <p class="lead text-light">Mahmoud Alfaham</p>
                <p class="text-light" >I am a hard-working Front-end Web Developer who is eager to learn new technologies and
                        make new experience. I want to join an organization which provides me with the opportunity to
                        improve my skills and knowledge to grow along with the organization's objective.</p>
                <p class="text-light">Phone: 01014153696</p>
                <p class="text-light">Mail: m.faham3@gmail.com</p>
            </div>
    
    
            <div class="jumbotron jumbotron-fluid col-md-5 bg-primary">
                <div class="container">
                    <h1 class="display-3 text-light">Contact US</h1>
                    <p class="lead text-white">Feel free to contact us at anytime</p>
                    <hr class="my-2">
    
                    <div class="form-group">
                        <label for=""></label>
                        <input type="email" class="form-control" name="email" id="email" aria-describedby="helpId" placeholder="Enter Your Email">
                        <br>
                        <input type="text" class="form-control" name="subject" id="subject" aria-describedby="helpId" placeholder="Enter The Subject">
                        <br>
                        <div class="form-group">
                            <label for=""></label>
                            <textarea class="form-control" name="details" id="details" placeholder="Enter subject in details" rows="3"></textarea>
                        </div>
    
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-primary btn-lg ">Submit</button>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>